<!--<app-user-book-flight></app-user-book-flight>-->
<!--<app-add-airlines></app-add-airlines>-->
<!--<app-user-login></app-user-login>-->
<!--<app-navbar [isLoggedIn]="!isLogged"></app-navbar>-->
<!--<app-user-login></app-user-login>-->
<!--<app-manage-discount></app-manage-discount>-->
<div *ngIf=isLogged>
<!--<app-add-airlines></app-add-airlines>-->
<app-admin-nav></app-admin-nav>
<!--<app-user-register></app-user-register>-->
<!--<app-user-login></app-user-login>-->
<!--<app-booking-history></app-booking-history>-->
<!--<app-manage-admin-airlines></app-manage-admin-airlines>-->
</div>

<!--<app-add-airlines></app-add-airlines>-->

<router-outlet></router-outlet>