<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="container">
          <div class="row" style="text-align: center;">
              <div class="col-md-2">
            <a class="navbar-brand align-item-center " routerLink="Login">Cognizant Airlines</a>
            </div>
            <div class="col-md-8">
            <a class="navbar-brand align-item-center " routerLink = "/Search">Manage Searches</a>
            <a class="navbar-brand align-item-center " routerLink = "/AdminDiscount">Manage Discounts</a>
            <a class="navbar-brand align-item-center " routerLink = "/ManageAirlines">Manage Airlines</a>
            <a class="navbar-brand align-item-center " routerLink = "/AddAirlines"> Reports</a>
            </div>
        
          <div class="col-md-2 " style="text-align: right;">
              <a class="navbar-brand" routerLink="Login">Log In</a>
            <a class="navbar-brand" routerLink="/Registration" >Register</a>
        </div>
        <!--<div class="col-md-2 " style="text-align: right;">
            <a class="navbar-brand  " href="#">Log Out</a>
        </div>-->
          </div>
      </div>
    </div>
  </nav>


  <app-footer-nav></app-footer-nav>